html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(215, 223, 226);
    margin: 0px;
}
.container{
    background-color: white;
    margin: auto;
    width: 225px;
    height: 360px;
    border-radius: 0.75rem;
    line-height:0.80rem;
    
}
.qr_code{
    text-align: center;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
}
.qr_description{
    color: white;
    
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    ;
}
.qr_description p{
    color: gray;
    font-size: x-small;
}
.qr_description h5{
    color: black;
}
